*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bona Nova', serif;
    /* font-family: 'Arvo', serif; */
}


/* services */
.service-card{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-card > h1{
    font-size:  3em;
    margin: 30px 0 20px;
    color: #422C6D;
}

.service-card > p{
    font-size: 1.5rem;
    text-align: center;
}

.services-container{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.service-section{
    max-width: 300px;
    margin: 20px;
    background-color: #422C6D;
    color: white;
}   

.service-section > img{
    margin: 50px 25px 15px;
    width: 50px;
    
}

.service-section > h1{
    margin: 0 25px 10px;
    font-size: 1.7rem;
    transition: color 1s ease;
}

.service-section > h1:hover{
    color: #E8537F;
}

.service-section > p{
    margin: 0 25px 50px;
    text-align: justify;
}

/* process */
.process{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #312052; 
    padding-top: 70px;
}

.process > hr,
.profile1 > hr {
    background-color: #E8537F;
}

.process > h4{
    margin: 50px 0 20px;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.856);
    color: #E8537F;
}

.process-heading{
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.process-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.process-section{
    max-width: 300px;
    max-height: 300px;
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
} 

.process-section > img{
    margin:0 auto;
    max-width: 80%;
    height: auto;
    transition: max-width .5s ease;
}

.process-section > img:hover{
    max-width: 85%;
}

.process-section > h3{
    margin: 20px auto;
    font-size: 1.5rem;
    transition: color 1s ease;
}

.process-section > h3:hover{
    color: #E8537F;
}

.process-section > p{
    margin: 0 auto;
    text-align: center;
}

.services{
    padding-top:70px;
}