.pageContainer{
    position: relative;
    min-height: 100vh;
    padding-bottom: 17vh;
}
/* navigation */
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(72,31,125);
  padding-top: 10px;
  padding-right:10px;
  width: 100%;
}

.companyLogo{
    padding-left: 30px;
}

.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navItem {
  list-style: none;
  font-size: 1.6rem;
  padding: 0px 10px;
  border-left: 0.5px solid white;
}
.navLink {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.navLink:hover {
  font-size: 2rem;
}

/* end of navigation */

/* footer */

footer{
    height: 17vh;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color:rgb(72,31,125) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

footer p{
    font-size: 1.2rem;
}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
.footerItem {
    list-style: none;
    font-size: 1.5rem;
    padding: 0px 10px;
  }
.footerLink {
    text-decoration: none;
    color: white;
  }
/* end of Footer */