.pageContainer{
    position: relative;
    min-height: 100vh;
}

/* navigation */
header{
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #312052;
  width: 100%;
  z-index: 2;
}


.companyLogo > a >img{
  width: 170px;
  padding: 10px 20px;
}

.nav{
  width: 50vw;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  margin-right: 40px;
}

.navItem {
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Dosis', sans-serif;
}

.navLink {
  text-decoration: none;
  color: white;
  transition: color 1s ease;
}

.navLink:hover {
  color: #E8537F;
}

/* Contact Us */
.contactUs{
    width: 100%;
    background-color: white;   
    padding-top: 30px;
}

.contactUsHeader{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0 auto 30px;
    color: #E8537F;
    font-family: 'Dosis', sans-serif;
}

.form-container{
  width: 100%;
}

.inputItem{
    font-size: 1.2rem;
    background-color: white;    
    border: none;
    border-bottom: 2px solid black;
    color: #422D6D;
    padding: 10px 10px;
    width: 30vw;
    outline: none;
}

.input{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    justify-content: space-between;
}

textarea{
    width: 60%;
    height: 150px;
    font-size: 1.2rem;
    background-color: white;    
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20%;
}

::placeholder{
    color: #312052;
    font-family: 'Dosis', sans-serif;
}

.requirement{
   padding-bottom: 30px;
}

.btn-ref{
  background-color: white;
  color:#312052;
  font-weight: 700;
  padding: 5px;
}

.btn-ref:hover{
  color:#E8537F;
  padding: 5px 10px;
}

.btn{
    background-color: #422D6D;
    display: block;
    color:white;
    height: 50px;
    width: 130px;
    font-size: 1.2rem;
    margin: 0 auto;
}

/* footer */
.footer{
    padding: 10px; 
    width: 100%;
    background-color:#312052;
    color: white;
    display: flex;
    justify-content: center;
}

.footer > span{
  font-size: 1.2rem; 
}

.footer > img{
  width: 80px;
  margin-bottom: -6px;
}


