body{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.image{
    border-radius: 50%;
    width:200px;
    margin:10px auto;
}

.profile-card{
    border:2px solid white;
    border-radius: 10px;
    padding:20px;
}

.links{
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.profile1{
    background-color: black;
    color:white;
}

.profile{
    margin:0px 5px;   
    display: flex;
    flex-wrap: wrap;
}   

.profile-heading,.our-work-heading{
    text-align: center;
    margin:0px;
}

.user-link{
    color:purple;
}

.profile-container{
    display: flex;
    justify-content: space-between;
    margin:20px auto;
    border-radius: 10px;
}

.why-us-heading,.profile-heading,.our-work{
    text-align: center;
}

.why-us{
    background-color: black;
    color:white;
}

.why-us-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p{
    font-size: 14px;
}

.why-us-para{
    width: 300px;
    border: 2px solid black;
    padding: 10px;
    height: auto;
    margin: 10px;
    background-color: white;
    color:black;
}

.project-description{
    margin:0px auto;
}

.project-demo{
    text-decoration: none;
    color:black;
    font-size: 15px;
    border:2px solid black;
    padding:5px;
    font-weight: bold;
}

.project-link:hover{
    background-color: purple;
}

.project-link{
    width: 200px;
    margin: 20px auto;
    text-decoration: none;
    border:2px solid black;
}   

.our-work{
    background-color: blueviolet;
    color:white;
}


.project-name,.project-author,.project-link,.our-work-heading{
    color:black;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    width: 45%;
    margin:0px 10px;
    /* height: 200vh; */
}

.header{
    position: sticky;
    top:0px;
    left:0px;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.banner{
    width: 100%;
    height: 80vh;
    /* opacity: 0.7; */
    /* background-image: linear-gradient(#17171715,#481f7d3f); */
    background-color: #481F7D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    /* color: white; */
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;

}

/* .banner-heading{
    font-size: 100px;
    margin:10px 100px;
    font-weight: bold;
} */

.banner-tagline{
    margin:10px 100px;
    font-family: 'Otomanopee One', sans-serif;
}

.banner-img{
    position: absolute;
    left: 1000px;
    top: 100px;
    opacity: 0.6;
    border-radius: 30%;
}

.aboutus{
    margin:100px;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* border: 1px solid black; */
}

.mainimg{
    height:500px;
}

.aboutus-main-content{
    display:flex;
    font-size:30px;
}