.why-us{
    background-color: #312052;
    color: white;
    padding: 20px;
}

.why-us-content{
    display: flex;
    flex-wrap: wrap;
    margin:20px;
}

.why-us-heading{
    margin: 0px;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
}

.why-us-content-heading{
    color: #E8537F;
    transition: color 1s ease;
}

.why-us-content-heading:hover{
    color: white;
}

.li-box{
    width:45%;
    height: auto;
    margin:20px;
    display: flex;
    flex-wrap: wrap;
}


@media only screen and (max-width: 590px) {
    .li-box{
        width:100%;
    }
    .why-us-img{
        display: none;
    }
  }


.why-us-img{
    width:100%;
    margin:10px;
}

.why-us-li{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.project-description{
    margin:0px auto;
}

.project-demo{
    text-decoration: none;
    color:black;
    font-size: 15px;
    padding:5px;
    font-weight: bold;
}

.project-link:hover{
    background-color: purple;
}

.project-link{
    width: 200px;
    margin: 50px auto;
    text-decoration: none;
    border:2px solid black;
    color:black;
}   

.our-work{
    text-align: center;
    margin-bottom: 30px;
}

hr{
    width: 40%;
    height: 5px;
    border: none;
    background-color: #312052;
    margin: 0 auto;
}

.our-work-heading{
    color:#312052; 
    font-size: 3rem;
    margin: 20px;
}

.project-name,.project-description,.project-link{
    margin:10px;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    max-width: 40%;
    margin:20px 10px;
    padding:20px;
    color: #312052;
    height: auto;
    border: 5px solid #E8537F;
    opacity: 0.9;
}


.image{
    border-radius: 50%;
    width:150px;
    margin:10px auto;
}

.profile-heading-title{
    text-align: center;
    padding:20px;
    margin: 20px;
    color: white;
    font-size: 3rem;
}

.profile-heading{
    text-align: center;
    padding: 10px;
} 

.profile-heading > h3{
    font-size: 1.5rem;
    margin: 10px;
}

.profile1{
    background-color: #312052;
    padding-bottom: 50px;
}

.profile-card{
    padding:10px;
    color: black;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   

.links{
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    margin: 5px 10px 10px;
}

.user-link{
    color:#E8537F;
    padding: 5px;
    margin: 0 5px;
    transition: color 1s ease;
}

.user-link:hover{
    color:#312052;
}

.profile-container{
    margin:10px 10px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}

.banner{
    width: 100%;
    height: 55vh;
    background: #312052;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: 100%;
}

.banner > img{
    width: 600px;
}

.banner > p{
    font-size: 3rem;
}

.banner > p > span{
    font-size: 4rem;
    color: #E8537F;
}

.banner-tagline{
    margin:10px 100px;
    font-family: 'Otomanopee One', sans-serif;
}

.aboutus{
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:center; 
    width: 50vw;
    margin: -60px auto 0;
    background-color: #E8537F;
}

.aboutus:hover{
    background-color: #ff5f8fd0;
}

.about-container{
    background: #312052;
    padding: 60px 0 30px;
}

.aboutus-heading{
    color: white;
    padding-top: 20px;
}

.aboutus-main-content{
    text-align: center;
    font-size: 1.3rem;
    color: white;
    max-width: 90%;
    margin: 10px auto 30px;
}
