body{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    /* height: 200vh; */
}

.header{
    position: sticky;
    top:0px;
    left:0px;
}

.navigation{
    display: flex;
    justify-content: space-between;
}
.banner{
    width: 100vw;
    height: 80vh;
    /* opacity: 0.7; */
    /* background-image: linear-gradient(#17171715,#481f7d3f); */
    background-color: #481F7D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    /* color: white; */
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;

}
/* .banner-heading{
    font-size: 100px;
    margin:10px 100px;
    font-weight: bold;
} */
.banner-tagline{
    margin:10px 100px;
    font-family: 'Otomanopee One', sans-serif;
}
.banner-img{
    position: absolute;
    left: 1000px;
    top: 100px;
    opacity: 0.6;
    border-radius: 30%;
}
.aboutus{
    margin:100px;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* border: 1px solid black; */
}
.mainimg{
    height:500px;
}
.aboutus-main-content{
    display:flex;
    font-size:30px

}